<div class="container" >
  <div class="row" style="height:80px"></div>
  <div class="row">
    <div class="col-12">
      <p class="text-center">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない⽅も商品の閲覧はできますが、<br>
        購⼊には会員登録が必要になります。<br>
      </p>
      <br>
      </div>
  </div>
    <div class="row mt-4 mb-4">
      <div class="col-md-3 offset-md-1">
      <h5>新着商品</h5>
      </div>
    </div>
    <br>
    <div class="row" >
      <% @products.last(4).each do |product| %>
        <div class="col-md-2 offset-md-1">
          <%= link_to product_path(product.id) do %>
            <p><%= attachment_image_tag product, :image, :fill, 200, 200 %></p>
          <% end %>
          <p><%= product.name %></p>
          <p>¥<%= product.price %></p>
        </div>
      <% end %>
         <div class="col-2">
         </div>
    </div>
      <div class="offset-9">
      <%= link_to "全ての商品を見る>", products_path %>
      </div>
</div>