<h1>ジャンル一覧・追加</h1>

<%= form_with model:@genre,url: admins_genres_path, local:true do |f| %>
  <tr>
    <td>ジャンル名</td>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit '新規登録' %></td>
  </tr>
<% end %>
<table>
  <thead>
    <tr>
      <th>ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td><%= link_to "編集する", edit_admins_genre_path(@genre.id) %></td>
      </tr>
      <% end %>
  </tbody>
</table>