
<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-1g navbar-dark bg-dark">
        <div class="container">
          <!--ロゴの記述が分からない-->
          <%= link_to  "/" do %>
            <%= image_tag("logo.png") %>
          <% end %>
          <!--pathにカッコ以下文をつけていないので追記すること-->
          <% if admin_signed_in? %>
          <ul>
            <li>
              <%= link_to "商品一覧", admins_products_path,class: 'btn btn-default' %>
            </li>
            <li>
              <%= link_to "会員一覧", admins_customers_path,class: 'btn btn-default' %>
            </li>
            <li>
              <%= link_to "注文履歴一覧", admins_root_path,class: 'btn btn-default' %>
            </li>
            <li>
              <%= link_to "ジャンル一覧", admins_genres_path,class: 'btn btn-default' %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'btn btn-default' %>
            </li>
          </ul>
          <% elsif user_signed_in? %>
          <ul>
            <li>
              <%= link_to "マイページ", customer_path(customer),class: 'btn btn-default'  %>
            </li>
            <li>
              <%= link_to "会員一覧", customers_path,class: 'btn btn-default' %>
            </li>
            <li>
              <%= link_to "カート", cart_items_path(cart_item),class: 'btn btn-default' %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-default' %>
            </li>
          </ul>
          <!--管理者側、会員側どちらもログインしていない時は共通なので-->
          <% else %>
          <ul>
            <li>
              <%= link_to "About", home_about_path,class: 'btn btn-default' %>
            </li>
            <li>
              <%= link_to "商品一覧", items_path,class: 'btn btn-default' %>
            </li>
            <li>
              <%= link_to "新規登録", new_user_registration_path,class: 'btn btn-default' %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path,class: 'btn btn-default' %>
            </li>
          </ul>
        <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
